
<% @users.each do | user | %>
<% if !(user.is_admin?) %>
  <% ting = user.email %>
  <%= ting %>
  <% emails = [] %>
  <% emails.push(user.email)%>
  <p class="tings"><%= @pair.pairstudents(emails)%></p>
  <% end %>
<% end %>
