<h1>Today's pairs:</h1>
  <% @pairs.each do |pair| %>
    <% pair.students.each do |email| %>
      <%= email %>
    <% end %>
    <br />
  <% end %>

<h1>Past pairs</h1>
<% @past_pairs.each do |pair| %>
  <% pair.students.each do |email| %>
    <%= email %>
  <% end %>
  <br />
<% end %>
