<div class="AllPairs" style="text-align: left;">
  <h1>Today's Pairs</h1>
</br>
<% @pairs.each do |pair| %>

<div class="Pair">
  <hr>
Pair no. <%= @i+=1 %>:
 <%= pair[0] %>
 <%= pair[1] %>

<hr>
 <% break if @i >= (@students.count/2) %>
<% end %>
</div>
