<%= form_for @pair do |f| %>
  <p><b>Please Enter A Date</b>

  <div class="form-group">
    <label>Date: </label>
    <%= f.date_select :date %>
  </div>

  <div class="actions">
    <%= f.submit "Generate", class: "btn btn-success" %>
  </div>
<% end %>
